/* ========================
    ESCALADO PROPORCIONAL
======================== */
.scale-wrapper {
    transform: scale(1);       
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Escalado según el ancho de la pantalla */
@media (max-width: 1600px) {
    .scale-wrapper { transform: scale(0.9); }
}

@media (max-width: 1400px) {
    .scale-wrapper { transform: scale(0.8); }
}

@media (max-width: 1200px) {
    .scale-wrapper { transform: scale(0.7); }
}

@media (max-width: 800px) {
    .scale-wrapper { transform: scale(0.6); }
}
/* ========================
    LOGIN
======================== */
/* Todo el body */
#body-login {
    background-color: rgb(250, 250, 250);
    font-family: Arial, sans-serif;
    height: 98vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contenedor fijo del login */
.container-login {
    display: flex;
    width: 930px;       
    height: 550px;      
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
/* Panel del formulario */
.container-login-form {
    flex: 1;
    background-color: white;
    border-radius: 30px;
    margin-right: -25px;  
    position: relative; 
    z-index: 2;
}
.container-login-form h1 {
    font-size: 35px;
    margin: 100px 0px 0px 80px;
}
.container-login-form p {
    margin: 5px 0px 5px 80px;
    font-size: 15px;
}
.campo {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    margin: 30px 0px 5px 80px;
    border: none;
    border-bottom: 2px solid #0e0e0e;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
.campo::placeholder {
    color: #999;
    font-size: 16px;
    transition: all 0.3s ease;
}
/* Cuando el input está enfocado */
.campo:focus::placeholder {
    color: #0077b6;
    font-size: 13px;
    opacity: 0.7;
}
.password-container {
    position: relative;
}
.toggle-icon {
    position: absolute;
    right: 70px;
    top: 45px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
.toggle-icon.hide {
    display: none;
}
#btn-aceptar-login {
    background: #b30000;
    border: none;
    padding: 12px 90px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin: 30px 0px 5px 120px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#btn-aceptar-login:hover {
    background: linear-gradient(135deg, #e60000, #ff1a1a);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25); /*sombra*/ 
}
/* -------------------------------------
Mensajes de error al iniciar sesion
------------------------------------- */
.input-wrapper {
    position: relative;
    margin-bottom: -10px;
}
.error-field {
    color: #ed4956;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 85px;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in-out; /*animacion definida*/
}
/* Animación sutil */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-3px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Panel del logo */
.conteiner-login-logo {
    flex: 1;
    background-color: rgb(177, 7, 19);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
}
#patron-top,
#patron-botton {
    width: 100%;
}
#logo-inca {
    width: 45%;
    opacity: 0.3;
}




/* ==============================
    ESCALADO PROPORCIONAL MAIN
=================================*/
.scale-wrapper-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/* ========================
MAIN
======================== */
#body-main {
    margin: 0;
    display: flex;       
    flex-direction: row; 
    min-height: 100vh;
}
/* panel lateral */
.panel-navegacion {
    position: relative;
    background-color: rgb(177, 7, 19);
    width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}
/* Contenedor para escalar contenido del panel lateral */
.panel-content {
    width: 100%;
    transform-origin: top left;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}
#patron-top-main {
    width: 100%;
}
#patron-botton-main {
    width: 100%;
    position: absolute; 
    bottom: 0;
}
#logo-FliaChipana{
    max-width: 80%;
    margin-left: 10px;
    margin-top: 20px;
    height: auto;    
    display: block;
}
/* panel principal */
#main-principal {
    flex: 1;            
    padding: 20px;
    background-color: #ffffff; 
    box-sizing: border-box; 
    position: relative; 
    z-index: 2;
    border-radius: 30px 0px 0px 30px;
    margin-left: -30px;
}
/* Contenedor para escalar contenido del panel principal */
.main-content {
    width: 100%;
    transform-origin: top left;
    transition: transform 0.3s;
}
/* nav */
nav {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}
nav a {
    display: flex;             
    align-items: center;      
    color: white;
    text-decoration: none;
    padding: 10px 55px;
    margin-bottom: 10px;
    transition: background 0.3s;
}
nav a i {
    margin-right: 15px;      
}
nav a:hover {
    background-color: rgba(85, 4, 4, 0.2);
    border-left: #ffffff solid 6px ;

}
/* ========================
MEDIA QUERIES: escala y ajuste de fuentes/paddings
======================== */
/* hasta 1600px */
@media (max-width: 1600px) { 
    nav a { font-size: 18px; padding: 10px 40px; }
    .panel-navegacion { width: 250px; }
}
/* hasta 1400px */
@media (max-width: 1400px) {
    nav a { font-size: 16px; padding: 8px 30px; }
    .panel-navegacion { width: 220px; }
}
/* hasta 1200px */
@media (max-width: 1200px) { 
    nav a { font-size: 15px; padding: 8px 25px; }
    .panel-navegacion { width: 200px; }

    .panel-content, .main-content { transform: scale(0.9); }
}
/* hasta 1000px */
@media (max-width: 1000px) { 
    nav a { font-size: 14px; padding: 6px 20px; }
    .panel-navegacion { width: 180px; }

    .panel-content, .main-content { transform: scale(0.8); }
}
/* hasta 800px */
@media (max-width: 800px)  { 
    nav a { font-size: 12px; padding: 5px 15px; }
    .panel-navegacion { width: 160px; }

    .panel-content, .main-content { transform: scale(0.7); }
}










.module-container{
    background: #ffffff5d;
    padding: 25px;
    border-radius: 12px;
    width: 95%;
}

.module-header {
    display: flex;
    flex-direction: column; /* Cambiamos a columna */
    gap: 35px; /* Espacio entre título y búsqueda */
    margin-bottom: 40px;
}

.module-header h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.search-add {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar {
    padding: 8px 10px;
    width: 25%;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    background-color: #f3d1d1e1;
    
}


/* TABLA */
/* encabezado */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    
}

.custom-table th {
    background: #ffe6e6;
    color: rgb(177, 7, 19);
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border-right: 2px solid white;

}
/* Para que el header de la tabla se quede fijo */
.custom-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Filas */
.custom-table tr:nth-child(even) {      /*intercalar el color de la filas 2,4,6,etc*/
    background-color: #dad8d8;
}

.actions {
    display: flex;
    gap: 14px;
    justify-content: center;

}

.btn-edit, .btn-delete {
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    font-size: 17px;
    
}

.btn-edit {
    background: #a6f3a7;
    color: #2d6a3c;
}

.btn-edit:hover {
    background: #30ec85;
    color: #ffffff;

}

.btn-delete {
    background: #f8c8c8;
    color: #a4161a;
}

.btn-delete:hover {
    background: #e63946;
    color: #fff;
}

.table-scroll-container {
    max-height: 400px; /* altura máxima de la tabla visible */
    overflow-y: auto;  /* activa scroll vertical si hay más filas */
}



















/* ========================
PANEL LATERAL (oculto al inicio)
======================== */
.side-panel {
    height: auto;    
    position: fixed;
    top: 0;
    right: -520px; /* ← lo mantiene oculto al inicio */
    width: 340px;
    max-height: 100vh;
    background: #fff;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
    border-radius: 16px 0 0 16px;
    padding: 15px;
    transition: right 0.4s ease;
    z-index: 1001;
    overflow-y: auto;
     box-sizing: border-box;
}

/* cuando se activa */
.side-panel.active {
    right: 0;
}

/* encabezado del panel */
.side-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background: #ffe6e6;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.side-panel-header h3 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-close {
    border: none;
    background: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-close:hover {
    transform: scale(1.2);
}

/* formulario dentro del panel */
.form-agregar {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-agregar label {
    font-weight: bold;
    color: #000000;
    margin-top: 8px;
}

.form-agregar input {
    padding: 6px 8px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
}

.form-agregar input:focus {
    border-color:#fab3b3;
}

/* botón del formulario */
.btn-submit {
    background: #b10713;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-submit:hover {
    background: #8e050f;
    transform: translateY(-1px);
    font-weight: bold;

    
}

/* ========================
   OVERLAY (oscurece el fondo)
======================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ========================
   BOTÓN "Agregar items"
======================== */
.btn-add {
    background: #b10713;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.btn-add:hover {
    background: #8e050f;
    transform: translateY(-1px);
    font-weight: bold;

}
